# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Binaries
bin/
dist/

# Tests
test/
tests/

# Misc
.editorconfig
README.md
Makefile

charts
node_modules
tests
test
/*.md
.editorconfig
.nvmrc
.node-version